<ng-container *ngIf="this.company as company">
  <div>
    <h1>{{ company.name }} ({{ company.rating }} ⭐)</h1>
  </div>

  <button [routerLink]="['/reviews', company._id]">Reviews</button>
  <button [routerLink]="['/postings', company._id]">Job postings</button>

  <div>
    <h2>{{ company.website }}</h2>
  </div>
  <div>
    <h3>About us</h3>
    <p>{{ company.description }}</p>
  </div>
  <div>
    <ng-container *ngIf="company.offices.length > 0">
      <h2>Offices</h2>
      <ng-container *ngFor="let loc of company.offices">
        <h3>{{ loc.country }}, {{ loc.city }}, {{ loc.address }}</h3>
      </ng-container>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="this.loggedInUser$ | async as loggedInCompany">
      <ng-container *ngIf="loggedInCompany._id == company._id">
        <button (click)="showEditForm = !showEditForm">
          {{ !showEditForm ? "Edit company" : "Cancel" }}
        </button>
        <button (click)="deleteCompany()">Delete</button>

        <ng-container *ngIf="showEditForm">
          <br />
          <br />

          <label>New name:</label>
          <input type="text" name="name" [(ngModel)]="name" />
          <br />

          <label>Description:</label>
          <input type="textarea" name="country" [(ngModel)]="description" />
          <br />

          <label>Website:</label>
          <input type="text" name="city" [(ngModel)]="website" />
          <br />
          <br />

          <label>Offices:</label>
          <div>
            <ng-container *ngFor="let o of offices; let i = index">
              <p>{{ i + 1 }}.</p>
              <input type="text" name="country" [(ngModel)]="o.country" />
              <br />
              <input type="text" name="city" [(ngModel)]="o.city" />
              <br />
              <input type="text" name="address" [(ngModel)]="o.address" />
              <br />
              <button (click)="removeLocation(i)">Delete office</button>
              <br />
              <br />
            </ng-container>

            <ng-container>
              <label for="country">Country </label>
              <input
                type="text"
                name="country"
                [(ngModel)]="newLocation.country"
              />
              <br />

              <label for="city">City </label>
              <input type="text" name="city" [(ngModel)]="newLocation.city" />
              <br />

              <label for="address">Address </label>
              <input
                type="text"
                name="address"
                [(ngModel)]="newLocation.address"
              />
              <br />

              <button (click)="addLocation()">Add office</button>
              <br />
              <br />
            </ng-container>
          </div>
          <button (click)="updateCompany()">Submit changes</button>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
