<ng-container *ngIf="this.loggedInUser$ | async as user">
  <ng-container *ngIf="company">
    <button [routerLink]="['/company', company._id]">
      <h1>
        {{ company.name }}
      </h1>
    </button>
    <h2>
      Average rating: {{ company.rating }} ⭐ ({{ company.ratingsCount }}
      ratings)
    </h2>

    <ng-container *ngIf="(user | UserTypeOf) === UserType.Person">
      <ng-container *ngIf="getPersonReview(); let review">
        <button (click)="showEditForm = !showEditForm">
          {{ !showEditForm ? "Edit profile" : "Cancel" }}
        </button>
        <button (click)="deleteReview()">Delete</button>

        <ng-container *ngIf="showEditForm">
          <label>Rating:</label>
          <input type="text" name="rating" [(ngModel)]="rating" />
          <br />

          <label>Description:</label>
          <input type="textarea" name="description" [(ngModel)]="description" />
          <br />

          <button (click)="updateReview()">Update</button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!personReview">
        <label>Rating:</label>
        <input type="text" name="rating" [(ngModel)]="rating" />
        <br />

        <label>Description:</label>
        <input type="textarea" name="description" [(ngModel)]="description" />
        <br />

        <button (click)="postReview()">Post</button>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="reviews!.data.length > 0">
      <ng-container *ngFor="let review of reviews!.data">
        <div>
          <h4>⭐{{ review.rating }}</h4>
          <p>{{ review.description }}</p>
          <hr />
        </div>
      </ng-container>
      <ng-container *ngIf="reviews!.data.length == 0">
        <h2>No reviews yet</h2>
      </ng-container>
    </ng-container>

    <!-- pages -->
    <!-- update delete create review -->
    <!-- <ng-container *ngFor></ng-container> -->
  </ng-container>
</ng-container>
