<div class="surface-card p-4 shadow-3 border-round mb-3" [id]="posting._id">
  <div class="mb-3">
    <div class="text-2xl font-medium text-900 mb-2">{{ posting.position }}</div>
    <ng-container *ngFor="let info of postingDetails">
      <div *ngIf="info.value" class="text-lg text-600 mb-1">
        <i class="ml-1 mr-2" [ngClass]="info.icon"></i> {{ info.value }}
      </div>
    </ng-container>
  </div>

  <div class="mb-3">
    <div class="text-900 font-medium mb-2">Job description</div>
    <div class="text-700">
      <ng-container *ngIf="posting.description">{{ posting.description }}</ng-container>
      <ng-container *ngIf="!posting.description">No job description provided.</ng-container>
    </div>
  </div>

  <div class="mb-3" *ngIf="this.posting.requirements.length">
    <div class="text-900 font-medium mb-2">Requirements</div>
    <div class="chips-wrapper">
      <p-chip *ngFor="let skill of this.posting.requirements" [label]="skill"></p-chip>
    </div>
  </div>

  <ng-container *ngIf="user$ | async as user">
    <div class="flex flex-row justify-content-end gap-2 mb-3">
      <ng-container *ngIf="(user | userTypeof) === UserType.Company && user._id === posting.company">
        <p-button
          label="Show applicants"
          icon="pi pi-users"
          styleClass="p-button-sm p-button-outlined"
          (click)="openApplicantsDialog()"
        ></p-button>
        <p-button
          label="Edit"
          icon="pi pi-file-edit"
          styleClass="p-button-sm p-button-outlined w-7rem"
          (click)="openEditPostingDialog(user)"
        ></p-button>
        <p-button
          label="Delete"
          icon="pi pi-trash"
          styleClass="p-button-sm p-button-danger p-button-outlined w-7rem"
          (click)="deletePosting()"
        ></p-button>
      </ng-container>
      <ng-container *ngIf="(user | userTypeof) === UserType.Person">
        <p-button
          [label]="posting.applied ? 'Cancel' : 'Apply'"
          [styleClass]="posting.applied ? 'p-button-sm p-button-outlined' : 'p-button-sm'"
          (click)="toggleApply()"
        ></p-button>
      </ng-container>
    </div>
  </ng-container>

  <div class="text-600 text-xs">Posted on: {{ posting.datePosted | date }}</div>
</div>
