<p-confirmDialog key="deletePostingDialog" [style]="{ width: '30vw' }"></p-confirmDialog>
<ng-container *ngIf="users$ | async as users">
  <div *ngIf="isLoggedInUser(users.company, users.loggedInUser)" class="flex justify-content-end">
    <p-button
      label="New posting"
      icon="pi pi-plus"
      styleClass="p-button-sm mb-3"
      (click)="openCreatePostingDialog(users.company.locations)"
    ></p-button>
  </div>
</ng-container>

<app-posting *ngFor="let posting of postings$ | async" [posting]="posting"></app-posting>
