<p-confirmDialog key="deletePostingDialog" [style]="{ width: '30vw' }"></p-confirmDialog>
<div class="text-2xl font-medium text-900 mb-4">Postings</div>

<ng-container *ngIf="users$ | async as users">
  <div *ngIf="isLoggedInUser(users.company, users.loggedInUser)" class="flex justify-content-end">
    <p-button
      label="New posting"
      icon="pi pi-plus"
      styleClass="p-button-sm mb-3"
      (click)="openCreatePostingDialog(users.company.locations)"
    ></p-button>
  </div>
</ng-container>

<ng-container *ngIf="postings$ | async as postings">
  <ng-container *ngIf="postings.length">
    <app-posting *ngFor="let posting of postings" [posting]="posting"></app-posting>
  </ng-container>
  <ng-container *ngIf="!postings.length">
    <div class="text-600">No postings yet.</div>
  </ng-container>
</ng-container>
