<ng-container>
  <h2>Search for:</h2>
  <ng-container>
    <ng-container *ngFor="let t of searchType">
      <input
        type="radio"
        name="type"
        id="{{ t }}"
        value="{{ t }}"
        (change)="select($event, t)"
      />
      <label for="{{ t }}">{{ t }}</label>
    </ng-container>

    <br />
    <br />

    <!-- users -->
    <ng-container *ngIf="checked === 'User'">
      <label for="name">Name</label>
      <input type="text" id="text" name="name" [(ngModel)]="name" />
      <br />

      <label for="country">Country</label>
      <input type="text" id="text" name="country" [(ngModel)]="country" />
      <br />

      <label for="city">City</label>
      <input type="text" id="text" name="city" [(ngModel)]="city" />
      <br />

      <label>Skills:</label>
      <div>
        <ng-container *ngFor="let skill of skills; let i = index">
          <div>
            <span>{{ skill }} </span>
            <button (click)="removeSkill(i)">Delete skill</button>
          </div>
        </ng-container>
      </div>
      <div>
        <input type="text" name="skill" [(ngModel)]="newSkill" />
        <button (click)="addNewSkill()">Add skill</button>
      </div>
      <br />

      <button (click)="searchUsers()">Search users</button>
      <br />
      <br />

      <ng-container *ngFor="let person of people">
        <div>
          <button [routerLink]="['/person', person._id]">
            <b>{{ person.name }}</b>
          </button>
          <br />
          <ng-container *ngIf="person.skills.length > 0">
            <span>Skills: </span>
            <ng-container *ngFor="let skill of person.skills">
              <span>{{ skill }}, </span>
            </ng-container>
            <br />
          </ng-container>
          <ng-container *ngIf="person.location">
            <span
              >{{ person.location.country }}, {{ person.location.city }}</span
            >
          </ng-container>
        </div>
        <hr />
      </ng-container>
    </ng-container>

    <!-- companies -->
    <ng-container *ngIf="checked === 'Company'">
      <label for="name">Name</label>
      <input type="text" id="text" name="name" [(ngModel)]="name" />
      <br />

      <label for="rating">Rating</label>
      <input type="text" id="text" name="rating" [(ngModel)]="rating" />
      <br />
      <br />

      <button (click)="searchCompanies()">Search companies</button>
      <br />
      <br />

      <ng-container *ngFor="let company of companies">
        <div>
          <button [routerLink]="['/company', company._id]">
            <b
              >{{ company.name }} ({{
                company.rating | number : "1.2-2"
              }}
              ⭐)</b
            >
          </button>
          <br />
        </div>
        <hr />
      </ng-container>
    </ng-container>

    <!-- posting -->
    <ng-container *ngIf="checked === 'Posting'">
      <label for="position">Position</label>
      <input type="text" id="text" name="position" [(ngModel)]="position" />
      <br />

      <label for="country">Country</label>
      <input type="text" id="text" name="country" [(ngModel)]="country" />
      <br />

      <label for="city">City</label>
      <input type="text" id="text" name="city" [(ngModel)]="city" />
      <br />

      <label>Required skills:</label>
      <div>
        <ng-container *ngFor="let skill of skills; let i = index">
          <div>
            <span>{{ skill }} </span>
            <button (click)="removeSkill(i)">Delete skill</button>
          </div>
        </ng-container>
      </div>
      <div>
        <input type="text" name="skill" [(ngModel)]="newSkill" />
        <button (click)="addNewSkill()">Add skill</button>
      </div>

      <label for="remote">Remote</label>
      <input type="checkbox" id="remote" name="remote" [(ngModel)]="remote" />

      <br />
      <br />

      <button (click)="searchPostings()">Search postings</button>

      <br />
      <br />

      <ng-container *ngFor="let posting of postings">
        <div>
          <button [routerLink]="['/company', asCompany(posting.company)._id]">
            <b
              >{{ asCompany(posting.company).name }} ({{
                asCompany(posting.company).rating | number : "1.2-2"
              }}
              ⭐)</b
            >
          </button>
        </div>
        <p>Position: {{ posting.position }}</p>
        <ng-container *ngIf="posting.requirements!.length > 0">
          <span>Requirements: </span>
          <ng-container *ngFor="let req of posting.requirements!">
            <span>{{ req }}, </span>
          </ng-container>
          <br />
        </ng-container>
        <hr />
        <br />
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
