<ng-container *ngIf="this.user as user">
  <div>
    <h1>{{ user.name }}</h1>
  </div>
  <div>
    <ng-container *ngIf="user.location">
      <h2>Location</h2>
      <h3>{{ user.location.country }}</h3>
      <h3>{{ user.location.city }}</h3>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="user.skills.length != 0">
      <h2>Skills</h2>
      <ng-container *ngFor="let skill of user.skills">
        <p>{{ skill }}</p>
      </ng-container>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="user.prevExperience.length != 0">
      <h2>Work experience</h2>
      <ng-container *ngFor="let exp of user.prevExperience">
        <p>{{ exp.companyName }}</p>
        <p>{{ exp.yearFrom }} - {{ exp.yearTo }}</p>
        <br />
      </ng-container>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="this.loggedInUser$ | async as lUser">
      <ng-container *ngIf="lUser._id == user._id">
        <button (click)="showEditForm = !showEditForm">
          {{ !showEditForm ? 'Edit profile' : 'Cancel' }}
        </button>
        <button (click)="deleteUser(lUser._id)">Delete</button>

        <ng-container *ngIf="showEditForm">
          <label>New name:</label>
          <input type="text" name="name" [(ngModel)]="name" />

          <label>Country:</label>
          <input type="text" name="country" [(ngModel)]="country" />

          <label>City:</label>
          <input type="text" name="city" [(ngModel)]="city" />

          <label>Skills (separate with commas):</label>
          <input type="text" name="skills" [(ngModel)]="skills" />

          <button (click)="updateUser(lUser._id)">Submit changes</button>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
