<div class="flex justify-content-center m-4">
  <div class="surface-card p-4 shadow-2 border-round w-screen xl:w-8">
    <div class="text-2xl font-medium text-900 mb-4">Search</div>

    <div class="flex gap-3 align-items-center mb-4">
      <div class="flex w-6 gap-4">
        <div *ngFor="let category of categories" class="field-checkbox mb-0">
          <p-radioButton
            [inputId]="category.name"
            name="category"
            [value]="category"
            (onClick)="resetStates()"
            [(ngModel)]="selectedCategory"
          ></p-radioButton>
          <label [for]="category.name">{{ category.name }}</label>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <p-fieldset>
        <ng-template pTemplate="header"> <i class="pi pi-filter mr-2"></i>Filters</ng-template>

        <ng-template pTemplate="content">
          <ng-container [ngSwitch]="selectedCategory.name">
            <ng-container *ngSwitchCase="'People'">
              <app-people-search-filters></app-people-search-filters>
            </ng-container>
            <ng-container *ngSwitchCase="'Companies'">
              <app-companies-search-filters></app-companies-search-filters>
            </ng-container>
            <ng-container *ngSwitchCase="'Postings'">
              <app-postings-search-filters></app-postings-search-filters>
            </ng-container>
          </ng-container>
        </ng-template>
      </p-fieldset>
    </div>

    <div class="px-3">
      <div class="text-xl font-medium text-900 mb-3">Results</div>
      <ng-container [ngSwitch]="selectedCategory.name">
        <ng-container *ngSwitchCase="'People'">
          <div *ngIf="personsResults$ | async as persons">
            <app-person-search-card *ngFor="let person of persons" [person]="person"></app-person-search-card>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Companies'">
          <div *ngIf="companiesResults$ | async as companies">
            <app-company-search-card *ngFor="let company of companies" [company]="company"></app-company-search-card>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Postings'">
          <div *ngIf="postingsResults$ | async as postings">
            <app-posting-search-card *ngFor="let posting of postings" [posting]="posting"></app-posting-search-card>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
