<app-main-card>
  <div class="text-center mb-2">
    <span class="text-600 font-medium line-height-3">Already have an account?</span>
    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/auth/login">Login here!</a>
  </div>
  <div class="text-center mb-5">
    <span class="text-600 font-medium line-height-3">Are you an individual without an account?</span>
    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/auth/register-user"
      >Register here!</a
    >
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- {{ registerForm.value | json }}
    <br />
    {{ registerForm.valid }} -->

    <div class="field p-fluid mb-3">
      <label for="name" class="block text-900 font-medium mb-2">Company name</label>
      <input pInputText formControlName="name" id="name" type="name" name="name" placeholder="Name" class="w-full" />
      <!-- {{ name.errors | json }} -->
      <app-control-error-message controlName="Name" [control]="name"></app-control-error-message>
    </div>

    <div class="field p-fluid mb-3">
      <label for="email" class="block text-900 font-medium mb-2">Email</label>
      <input
        pInputText
        formControlName="email"
        id="email"
        type="email"
        name="email"
        placeholder="Email address"
        class="w-full"
      />
      <!-- {{ email.errors | json }} -->
      <app-control-error-message controlName="Email" [control]="email"></app-control-error-message>
    </div>

    <div class="field p-fluid mb-3">
      <label for="password" class="block text-900 font-medium mb-2">Password</label>
      <input
        pInputText
        formControlName="password"
        id="password"
        type="password"
        name="password"
        placeholder="Password"
        class="w-full"
      />
      <!-- {{ password.errors | json }} -->
      <app-control-error-message controlName="Password" [control]="password"></app-control-error-message>
    </div>

    <div class="field p-fluid mb-3">
      <label for="website" class="block text-900 font-medium mb-2">Website</label>
      <input
        pInputText
        formControlName="website"
        id="website"
        type="website"
        name="website"
        placeholder="Website"
        class="w-full"
      />
      <!-- {{ name.errors | json }} -->
      <app-control-error-message controlName="Website" [control]="website"></app-control-error-message>
    </div>

    <div formArrayName="locations">
      <span class="block text-900 font-medium mb-2">Locations</span>
      <div class="field p-fluid" *ngFor="let location of locations.controls; let i = index">
        <app-location-form-group [formControlName]="i"></app-location-form-group>
      </div>
      <p-button
        (click)="addLocation()"
        label="Add another location"
        icon="pi pi-plus"
        styleClass="p-button-secondary w-full mb-5 font-normal"
        [disabled]="!canAddAnotherLocation"
      ></p-button>
    </div>

    <p-button
      type="submit"
      label="Register"
      icon="pi pi-user"
      styleClass="w-full"
      [disabled]="!registerForm.valid"
    ></p-button>
  </form>
</app-main-card>
