<!-- {{ locationGroup.value | json }}
<br /> -->
<div class="card flex flex-column md:flex-row gap-3" [formGroup]="locationGroup">
  <div class="w-full">
    <label for="country-{{ index }}" class="block text-900 font-normal mb-2 text-sm">Country</label>
    <p-dropdown
      [options]="countries"
      formControlName="country"
      inputId="country-{{ index }}"
      type="text"
      placeholder="Country"
      [showClear]="true"
      [autoDisplayFirst]="false"
      (blur)="onTouched()"
    >
    </p-dropdown>
  </div>
  <div class="w-full">
    <label for="city-{{ index }}" class="block text-900 font-normal mb-2 text-sm">City</label>
    <input
      pInputText
      formControlName="city"
      id="city-{{ index }}"
      type="text"
      placeholder="City"
      class="w-full"
      (blur)="onTouched()"
    />
  </div>
  <div class="w-full" *ngIf="hasAddress">
    <label for="address-{{ index }}" class="block text-900 font-normal mb-2 text-sm">Address</label>
    <input
      pInputText
      formControlName="address"
      id="address-{{ index }}"
      type="text"
      placeholder="Address"
      class="w-full"
      (blur)="onTouched()"
    />
  </div>
</div>
<app-control-error-message [control]="locationGroup"></app-control-error-message>
