<div
  class="search-result-card hover:no-underline p-3"
  [routerLink]="['/company', posting.company._id, 'postings']"
  [fragment]="posting._id"
>
  <div class="flex align-items-center mb-2">
    <p-avatar [image]="getImageUrl()" styleClass="mr-2 mt-1" shape="circle"></p-avatar>
    <div class="flex gap-2">
      <span>{{ posting.company.name }}</span>
      <span> ({{ posting.company.rating.toFixed(2) }} <i class="pi pi-star"></i>) </span>
    </div>
  </div>

  <div>
    <div class="mb-3">
      <div class="text-xl font-medium text-900 mb-2">{{ posting.position }}</div>
      <app-posting-details [posting]="posting"></app-posting-details>
    </div>
  </div>

  <div class="mb-1" *ngIf="posting.requirements.length">
    <div class="text-900 font-medium mb-2">Requirements</div>
    <div class="chips-wrapper">
      <p-chip *ngFor="let skill of posting.requirements" [label]="skill"></p-chip>
    </div>
  </div>
</div>
