<p-confirmDialog key="logoutDialog" [style]="{ width: '30vw' }"> </p-confirmDialog>
<p-menubar [model]="items" styleClass="shadow-3 sticky top-0 left-0 w-full z-5">
  <ng-template pTemplate="start">
    <p-button styleClass="p-button-text btn-logo btn-navbar" routerLink="/">
      <img src="./assets/images/logos/main-dark-2.png" style="width: 2rem" />
      <div class="ml-2 text-900 text-xl">Job Board</div>
    </p-button>
  </ng-template>
</p-menubar>

<div class="flex justify-content-center m-4">
  <div class="surface-card p-4 shadow-2 border-round w-screen xl:w-8">
    <router-outlet></router-outlet>
  </div>
</div>
